.contain {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  top: 8%;
  position: absolute;
}

.title {
  text-align: center;
  color: #333;
}

.title span {
  color: #FF5733; /* Adjust color as needed */
}

.description {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}
.card img {
  height: 200px; /* Set the height as needed */
  width: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
  color: #333;
}

.card p {
  margin-bottom: 0;
  color: #666;
}

